// Custom styles.
body {
  color: #333;
}

.site-meta {
  //background: #F7B733;
  //background: #ec454d;
  background: #0E83CD;


  .site-subtitle {
    color: #fff;
  }
}

.headband {
  //background: #3B3115;
}

.post-title {
  font-size: 36px;
}
